.footer
    .footer-content
        .footer-content-item
            .footer-content-item-phone
                span +7 (812) 987-65-43
            .footer-content-item-btn.btn
                a(href="")
                    span Заказать звонок
            .footer-content-item-header
                span Социальные сети
            .footer-content-item-content
                a.header-buttons__social(href="")
                    img(src="assets/images/instagram.svg", alt="")
                a.header-buttons__social(href="")
                    img(src="assets/images/vk.svg", alt="") 
        .footer-content-item
            .footer-content-item-header
                span Недвижимость
            .footer-content-item-content
                a.footer-content-item-content__link(href="")
                    span Ипотека
                a.footer-content-item-content__link(href="")
                    span Муниципальное страхование
                a.footer-content-item-content__link(href="")
                    span Страхование квартиры
                a.footer-content-item-content__link(href="")
                    span Страхование дома
                a.footer-content-item-content__link(href="")
                    span Гражданская ответственность
                a.footer-content-item-content__link(href="")
                    span Маломерные суда                
        .footer-content-item
            .footer-content-item-header
                span Здоровье
            .footer-content-item-content
                a.footer-content-item-content__link(href="")
                    span Страхование школьников
                a.footer-content-item-content__link(href="")
                    span Страхование от несчастных случаев
                a.footer-content-item-content__link(href="")
                    span Страхование от клещевого энцефалита
                a.footer-content-item-content__link(href="")
                    span Мультиспортсмен                
        .footer-content-item
            .footer-content-item-header
                span Авто
            .footer-content-item-content
                a.footer-content-item-content__link(href="")
                    span КАСКО
                a.footer-content-item-content__link(href="")
                    span ОСАГО
                a.footer-content-item-content__link(href="")
                    span Зеленая карта                
        .footer-content-item
            .footer-content-item-header
                span Путешествия
            .footer-content-item-content
                a.footer-content-item-content__link(href="")
                    span Страхование путешественников  
    .footer-metainfo
        .footer-metainfo-item
            span &copy; 2017-2018. Все права защищены
        .footer-metainfo-item
            span Пользовательское соглашение
        .footer-metainfo-item
            span Разработка &mdash;  
            a.underline
                span RA-studio
