.footer
    .footer-content
        .footer-title
            span Узнай о новостях первым!
        .footer-input
            .footer-input-group
                input(type="email", name="footer-email" placeholder="Введите e-mail")
                img(src="assets/images/arrow.svg" alt="")
        .footer-social
            .footer-social__img
                img(src="assets/images/vk-icon.svg" alt="")
            .footer-social__img
                img(src="assets/images/instagram-icon.svg" alt="")
            .footer-social__img
                img(src="assets/images/facebook-icon.svg" alt="")
            .footer-social__img
                img(src="assets/images/twitter-icon.svg" alt="")
            .footer-social__img
                img(src="assets/images/telegram-icon.svg" alt="")

        .footer-menu
            a.header-menu__link(href="") Происшествия
            a.header-menu__link(href="") Общество
            a.header-menu__link(href="") Политика
            a.header-menu__link(href="") Спорт
            a.header-menu__link(href="") Культура
            a.header-menu__link(href="") Бизнес
        .footer-info
            .footer-info-left
                span Сайт носит исключительно информационный характер. Редакция может не разделять мнение автора.
            .footer-info-right
                span Все права защищены &copy; 2019 gorodmurino.ru