.header
    .hamburger.hamburger--collapse
            .hamburger-box
                .hamburger-inner
    a(href="index.html").header-title 
        .header-title__heading Сергей Титов
        .header-title__subheading Директор страхового агенства    
    .header-menu    
        a.header-menu__link(href="about.html") Об агентстве
        a.header-menu__link(href="insurance-type.html") Авто
        a.header-menu__link(href="insurance-type.html") Путешествия
        a.header-menu__link(href="insurance-type.html") Недвижимость
        a.header-menu__link(href="insurance-type.html") Здоровье        
    .header-buttons-mobile
        a(data-fancybox href="#contact-us-form" data-touch="false")
            img(src="assets/images/mobile-phone.svg", alt="")
    .header-buttons
        a.header-buttons__phone
            span +7 (812) 987-65-43
        a.header-buttons__social(href="")
            img(src="assets/images/instagram.svg", alt="")
        a.header-buttons__social(href="")
            img(src="assets/images/vk.svg", alt="") 
        .btn
            a.header-buttons__order(data-fancybox href="#contact-us-form" data-touch="false")
                span Заказать звонок
    nav.header-mobile-menu        
        .header-links
            a.header-menu__link(href="about.html") Об агентстве
            a.header-menu__link(href="insurance-type.html") Авто
            a.header-menu__link(href="insurance-type.html") Путешествия
            a.header-menu__link(href="insurance-type.html") Недвижимость
            a.header-menu__link(href="insurance-type.html") Здоровье  
    include popup.pug
        
    
            
            
        


           
        