.header
    .hamburger.hamburger--collapse
            .hamburger-box
                .hamburger-inner
    .header-title 
        .header-title__heading Сергей Титов
        .header-title__subheading Директор страхового агенства    
    .header-menu    
        a.header-menu__link(href="incidents.html") О агентстве
        a.header-menu__link(href="society.html") Авто
        a.header-menu__link(href="politics.html") Путешествия
        a.header-menu__link(href="sport.html") Недвижимость
        a.header-menu__link(href="culture.html") Здоровье        
    .header-buttons
        a.header-buttons__phone
            span +7 (812) 987-65-43
        a.header-buttons__social(href="")
            img(src="assets/images/instagram.svg", alt="")
        a.header-buttons__social(href="")
            img(src="assets/images/vk.svg", alt="") 
        .btn
            a.header-buttons__order
                span Заказать звонок       
        
    
            
            
        


           
        