extends ../template

block variables
    - var title = 'Об агентстве'    

block content
    .main-container.about-page
        .breadcrumbs
            a.breadcrumbs-item(href="") Главная
            img(src="assets/images/breadcrumbs-arrow.svg", alt="")
            a.breadcrumbs-item(href="") Об агентстве
        .page-title
            span Об агентстве
        .page-img
            img(src="assets/images/about.jpg", alt="")
        .page-text
            span РЕСО-Гарантия – универсальная страховая компания, созданная в 1991 году. 
            | Компания имеет лицензию на более 100 видов страховых услуг и перестраховочную деятельность.<br><br>
            span Страховое публичное акционерное общество "РЕСО-Гарантия" (СПАО "РЕСО-Гарантия") 
            | предоставляет широкий спектр услуг по страхованию физических и юридических лиц.
            | Приоритетными направлениями деятельности являются автострахование (КАСКО и ОСАГО, а также ДГО),
            | добровольное медицинское страхование, страхование имущества физических и юридических лиц,
            | ипотечное страхование, страхование туристов, страхование от несчастных случаев и другие виды.
            | Накопительное страхование жизни предлагает дочерняя компания "Общество страхования жизни "РЕСО-Гарантия".<br><br>
            span РЕСО-Гарантия - агентская компания, в ней работают свыше 27 тысяч агентов и брокеров. Филиальная сеть 
            | - одна из крупнейших в России - включает в себя более 900 филиалов и офисов продаж во всех регионах России.
            | Продуктами и услугами РЕСО-Гарантия пользуются около 10 млн клиентов - организаций и частных лиц.<br><br>
            span В Группу РЕСО входит ряд страховых компаний СНГ - «НСК» (Казахстан), «Белросстрах» (Беларусь), 
            | «РЕСО» (Армения), также Холдинг имеет стратегического партнера и на территории Украины – «ПРОСТО-страхование».<br><br>
            span Партнерами РЕСО-Гарантия по перестраховочным программам являются компании Allianz,
            | Gen Re, Hannover Re, SCOR, Swiss Re, Sirius, Partner Re, синдикаты Lloyd’s,
            | Российская Национальная Перестраховочная Компания и другие.
        .page-column-content
            .page-column-content-item
                .page-column-content-item-title
                    span Национальные и международные рейтинги
                .page-column-content-item-text
                    span Начиная с 2009 рейтинговое агентство «Эксперт РА» 
                    | (RAEX) ежегодно подтверждает рейтинг надежности РЕСО-Гарантия.
                    | В настоящее время компании присвоен рейтинг «ruAA+».
                    | Служба кредитных рейтингов Standart &amp; Poor's присвоила РЕСО-Гарантия рейтинг "ВВВ-" прогноз "Стабильный".
            .page-column-content-item
                .page-column-content-item-title
                    span Международные стандарты
                .page-column-content-item-text
                    span В 2011 году РЕСО-Гарантия получила сертификат соответствия системы менеджмента качества
                    | требованиям ГОСТ Р ИСО 9001-2008. Сертификат удостоверяет, что система менеджмента качества
                    | РЕСО-Гарантия, применительно к страхованию и перестрахованию, отвечает требованиям ГОСТ
                    | Р ИСО 9001-2008 и бизнес-процессы в компании соответствуют международным стандартам.
                    | В 2016 году уровень качества был подтвержден сертификатом ГОСТ ИСО 9001-2015.
            .page-column-content-item
                .page-column-content-item-title
                    span Общественное признание
                .page-column-content-item-text
                    span РЕСО-Гарантия стала лауреатом главной страховой премии страны "Золотая Саламандра" 
                    | в нескольких почетных номинациях в 2005, 2008, 2011 и 2012 годах.
                    | Также компания является лауреатом общенационального конкурса "Народная марка/Марка №1 в России"
                    | в номинации "Страховая компания". РЕСО-Гарантия в 2017 году заняла 126 место в рейтинге "Эксперт - 600.
                    | Крупнейшие компании России".
        .contact-us-form
            .contact-us-form-title
                span Свяжитесь с нами
            .contact-us-form-content
                .contact-us-form-content-map
                    <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d8000.086608950653!2d30.437943!3d59.915188!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sru!4v1556182817788!5m2!1sru!2sru" width="572" height="490" frameborder="0" style="border:0" allowfullscreen></iframe>
                .contact-us-form-content-form
                    .contact-us-form-content-form-title
                        span Отправьте письмо и мы скоро свяжемся с Вами
                    form
                        .contact-us-form-content-form-row.two-input
                            .contact-us-form-content-form-input-group
                                input(type="text" required)
                                span.placeholder E-mail
                            .contact-us-form-content-form-input-group
                                input(type="text" required)
                                span.placeholder Телефон
                        .contact-us-form-content-form-row
                            .contact-us-form-content-form-input-group.message
                                textarea(required)
                                span.placeholder Сообщение
                    a.privacy-agreement(href="")
                        span Отправляя сообщение, Вы соглашаетесь на обработку данных
                    .btn
                        a(href="")
                            span Далее
                

            

                
                

    
                
                
                    


            
                    


                    


        

            

            

        