extends ../template

block variables
    - var title = 'Блог'    

block content
    .main-container.article-page
        .article-page-header
            .article-page-header-upline
                .breadcrumbs
                    a.breadcrumbs-item(href="") Главная
                    img(src="assets/images/breadcrumbs-arrow-white.svg", alt="")
                    a.breadcrumbs-item(href="") Статья
                .article-block-item-date
                    img(src="assets/images/date-icon.svg", alt="")                    
                    span 15.05.2019
                .article-block-item-time
                    img(src="assets/images/time-icon.svg", alt="")                
                    span Время чтения: 5 минут            
            .page-title
                span Как грамотно выбрать тип страховки
        .article-page-content
            .article-page-content-row
                .article-page-content-row-left
                .article-page-content-row-right