extends ../template

block variables
    - var title = 'Блог'    

block content
    .main-container.blog-page
        .breadcrumbs
            a.breadcrumbs-item(href="") Главная
            img(src="assets/images/breadcrumbs-arrow.svg", alt="")
            a.breadcrumbs-item(href="") Об агентстве
        .page-title
            span Блог
        .tag-search
            .tag-search-title
                span Поиск по тэгу:
            .tag-search-link.active
                a(href="")
                    span Новость
            .tag-search-link
                a(href="")
                    span Знания
            .tag-search-link
                a(href="")
                    span Факты
        .news-block
            .news-block-item.wide.video(data-src="assets/images/video.mp4" data-fancybox)
                .news-block-item-video-btn
                    img(src="assets/images/video-play-btn.svg", alt="")
                .news-block-item-background
                    video(src="assets/images/video.mp4")
                .tag-search
                    .tag-search-link
                        a(href="")
                            span Знания
                .news-block-item-date
                    img(src="assets/images/date-icon.svg", alt="")                    
                    span 15.05.2019
                .news-block-item-content
                    .news-block-item-title
                        span Как грамотно выбрать тип страховки                    
                    .news-block-item-time
                        img(src="assets/images/time-icon.svg", alt="")
                        img.black(src="assets/images/time-icon-black.svg", alt="")
                        span 3:27
            .news-block-item
                .news-block-item-background
                    img(src="assets/images/new1-background.jpg", alt="")
                .tag-search
                    .tag-search-link
                        a(href="")
                            span Новость
                .news-block-item-date
                    img(src="assets/images/date-icon.svg", alt="")                    
                    span 15.05.2019
                .news-block-item-content
                    .news-block-item-title
                        span Как грамотно выбрать тип страховки
                    .news-block-item-text
                        span Анонс новости размер в одно-два предложения для краткого описания выводимой новости размером в три строки
                    .news-block-item-time
                        img(src="assets/images/time-icon.svg", alt="")
                        img.black(src="assets/images/time-icon-black.svg", alt="")
                        span Время чтения 5 минут
            .news-block-item
                .news-block-item-background
                    img(src="assets/images/new2-background.jpg", alt="")
                .tag-search
                    .tag-search-link
                        a(href="")
                            span Новость
                .news-block-item-date
                    img(src="assets/images/date-icon.svg", alt="")                    
                    span 15.05.2019
                .news-block-item-content
                    .news-block-item-title
                        span Как грамотно выбрать тип страховки
                    .news-block-item-text
                        span Анонс новости размер в одно-два предложения для краткого описания выводимой новости размером в три строки
                    .news-block-item-time
                        img(src="assets/images/time-icon.svg", alt="")
                        img.black(src="assets/images/time-icon-black.svg", alt="")
                        span Время чтения 5 минут
            .news-block-item
                .news-block-item-background
                    img(src="assets/images/new1-background.jpg", alt="")
                .tag-search
                    .tag-search-link
                        a(href="")
                            span Новость
                .news-block-item-date
                    img(src="assets/images/date-icon.svg", alt="")                    
                    span 15.05.2019
                .news-block-item-content
                    .news-block-item-title
                        span Как грамотно выбрать тип страховки
                    .news-block-item-text
                        span Анонс новости размер в одно-два предложения для краткого описания выводимой новости размером в три строки
                    .news-block-item-time
                        img(src="assets/images/time-icon.svg", alt="")
                        img.black(src="assets/images/time-icon-black.svg", alt="")
                        span Время чтения 5 минут
            .news-block-item
                .news-block-item-background
                    img(src="assets/images/new2-background.jpg", alt="")
                .tag-search
                    .tag-search-link
                        a(href="")
                            span Новость
                .news-block-item-date
                    img(src="assets/images/date-icon.svg", alt="")                    
                    span 15.05.2019
                .news-block-item-content
                    .news-block-item-title
                        span Как грамотно выбрать тип страховки
                    .news-block-item-text
                        span Анонс новости размер в одно-два предложения для краткого описания выводимой новости размером в три строки
                    .news-block-item-time
                        img(src="assets/images/time-icon.svg", alt="")
                        img.black(src="assets/images/time-icon-black.svg", alt="")
                        span Время чтения 5 минут
            .news-block-item.wide
                .news-block-item-background
                    img(src="assets/images/new3-background.jpg", alt="")
                .tag-search
                    .tag-search-link
                        a(href="")
                            span Знания
                .news-block-item-date
                    img(src="assets/images/date-icon.svg", alt="")                    
                    span 15.05.2019
                .news-block-item-content
                    .news-block-item-title
                        span Как грамотно выбрать тип страховки
                    .news-block-item-text
                        span Анонс новости размер в одно-два предложения для краткого описания выводимой новости размером в три строки
                    .news-block-item-time
                        img(src="assets/images/time-icon.svg", alt="")
                        img.black(src="assets/images/time-icon-black.svg", alt="")
                        span Время чтения 5 минут
