extends ../template

block variables
    - var title = 'Титов'    

block content
    .main-container
        .what-to-insure
            .what-to-insure-main.what-to-insure-label
                span Я хочу застраховать
            .what-to-insure-control
                input(type="checkbox" class="insurance-switcher" name="what-to-insure-switcher" id="what-to-insure-switcher")
                label(for="what-to-insure-switcher") Страховки по типу семьи
        .insure-cats
            a(href="insurance-type.html").insure-cats-item-wrapper
                .insure-cats-item
                    .insure-cats-item-img
                        img(src="assets/images/cats_health.svg", alt="")
                    .insure-cats-item-header
                        span Здоровье
            a(href="insurance-type.html").insure-cats-item-wrapper
                .insure-cats-item
                    .insure-cats-item-img
                        img(src="assets/images/cats_auto.svg", alt="")
                    .insure-cats-item-header
                        span Авто
            a(href="insurance-type.html").insure-cats-item-wrapper
                .insure-cats-item
                    .insure-cats-item-img
                        img(src="assets/images/cats_realty.svg", alt="")
                    .insure-cats-item-header
                        span Недвижимость
            a(href="insurance-type.html").insure-cats-item-wrapper
                .insure-cats-item
                    .insure-cats-item-img
                        img(src="assets/images/cats_travel.svg", alt="")
                    .insure-cats-item-header
                        span Путешествия
        .insure-cats.additional
            a(href="insurance-type.html").insure-cats-item-wrapper
                .insure-cats-item
                    .insure-cats-item-img
                        img(src="assets/images/cats_health.svg", alt="")
                    .insure-cats-item-header
                        span Путешествия
            a(href="insurance-type.html").insure-cats-item-wrapper
                .insure-cats-item
                    .insure-cats-item-img
                        img(src="assets/images/cats_auto.svg", alt="")
                    .insure-cats-item-header
                        span Школьники
            a(href="insurance-type.html").insure-cats-item-wrapper
                .insure-cats-item
                    .insure-cats-item-img
                        img(src="assets/images/cats_realty.svg", alt="")
                    .insure-cats-item-header
                        span Квартира
            a(href="insurance-type.html").insure-cats-item-wrapper
                .insure-cats-item
                    .insure-cats-item-img
                        img(src="assets/images/cats_travel.svg", alt="")
                    .insure-cats-item-header
                        span Суда
        .prof-insure
            .prof-insure-title
                span Профессиональное страхование
            .prof-insure-content
                .prof-insure-block
                    .prof-insure-block-title
                        span Для Вас и Ваших близких
                    a(href="insurance-type.html").prof-insure-block-item
                        .prof-insure-block-item__header
                            span Каско, мини каско, каско с франшизой
                        .prof-insure-block-item__text
                            span Как не переплатить за каско и не волноваться за выплаты.
                    a(href="insurance-type.html").prof-insure-block-item
                        .prof-insure-block-item__header
                            span Страхование квартир и дач
                        .prof-insure-block-item__text
                            span Не забыть застраховать важное. Мой дом - моя крепость.
                    a(href="insurance-type.html").prof-insure-block-item
                        .prof-insure-block-item__header
                            span Ипотечное страхование
                        .prof-insure-block-item__text
                            span Избежать лишних трат и навязанных услуг при покупке недвижимости.
                    a(href="insurance-type.html").prof-insure-block-item
                        .prof-insure-block-item__header
                            span Страхование жизни и здоровья
                        .prof-insure-block-item__text
                            span Забыть о районной поликлинике и лечиться комфортно.
                    a(href="insurance-type.html").prof-insure-block-item
                        .prof-insure-block-item__header
                            span Международное страхование
                        .prof-insure-block-item__text
                            span Лечение тяжелых заболеваний в лучших международных клиниках.                     
                .prof-insure-block
                    .prof-insure-block-title
                        span Для Вашей компании
                    a(href="insurance-type.html").prof-insure-block-item
                        .prof-insure-block-item__header
                            span Страхование имущества
                        .prof-insure-block-item__text
                            span Недвижимость, оборудование, товар. Для себя, для залога, для лизинга.
                    a(href="insurance-type.html").prof-insure-block-item
                        .prof-insure-block-item__header
                            span Страхование грузов
                        .prof-insure-block-item__text
                            span Дорога дальняя и море бурное.
                    a(href="insurance-type.html").prof-insure-block-item
                        .prof-insure-block-item__header
                            span Страхование ответственности
                        .prof-insure-block-item__text
                            span Для СРО, заказчика или Арендодателя.
                    a(href="insurance-type.html").prof-insure-block-item
                        .prof-insure-block-item__header
                            span Добровольное медицинское страхование
                        .prof-insure-block-item__text
                            span Хорошо лечиться самому и соцпакет поддерживать на уровне.
                    a(href="insurance-type.html").prof-insure-block-item
                        .prof-insure-block-item__header
                            span Страхование парка автотранспортных средств и их обслуживание
                        .prof-insure-block-item__text
                            span Надежная защита транспортного парка компании.
        .director
            .director-info
                .director-info-title
                    span Сергей Титов
                .director-info-subtitle
                    span Директор страхового агенства
                .director-info-text
                    span Проснувшись однажды утром после беспокойного сна, 
                    | Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. 
                    | Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой
                    | коричневый, выпуклый, разделенный дугообразными чешуйками живот,
                    | на верхушке которого еле держалось готовое вот-вот окончательно сползти одеяло.
                .director-info-img
                    img(src="assets/images/titov.png", alt="")
                .director-info-text-list
                    span.hyphen &mdash; 
                    span Его многочисленные, убого тонкие по сравнению<br>
                    span.hyphen &mdash; 
                    span С остальным телом ножки беспомощно копошились<br>
                    span.hyphen &mdash; 
                    span У него перед глазами что со мной случилось подумал он<br>
                    span.hyphen &mdash; 
                    span Это не было сном его комната, настоящая, разве что слишком<br> 
                .director-info-detail
                    .director-info-detail-item
                        .director-info-detail-item__img
                            img(src="assets/images/detail_professional.svg", alt="")
                        .director-info-detail-item__text
                            span Профессионалы своего дела
                    .director-info-detail-item
                        .director-info-detail-item__img
                            img(src="assets/images/detail_price.svg", alt="")
                        .director-info-detail-item__text
                            span Предлагем только лучшие цены
                    .director-info-detail-item
                        .director-info-detail-item__img
                            img(src="assets/images/detail_faith.svg", alt="")
                        .director-info-detail-item__text
                            span Вы можете доверять нам
                    .director-info-detail-item
                        .director-info-detail-item__img
                            img(src="assets/images/detail_talk.svg", alt="")
                        .director-info-detail-item__text
                            span Сопроводим на каждом этапе
            .director-img
                img(src="assets/images/titov.png", alt="")
        .our-team
            .our-team-title
                span Наша команда
            .our-team-content
                .our-team-content-item-wrapper
                    .our-team-content-item
                        .our-team-content-img
                            img(src="assets/images/krutov.png", alt="")
                        .our-team-content-title
                            span Александр Семенов                    
                .our-team-content-item-wrapper
                    .our-team-content-item
                        .our-team-content-img
                            img(src="assets/images/ivanova.png", alt="")
                        .our-team-content-title
                            span Елена Лаврентьева
                .our-team-content-item-wrapper
                    .our-team-content-item
                        .our-team-content-img
                            img(src="assets/images/fedotova.png", alt="")
                        .our-team-content-title
                            span Мария Титова
                .our-team-content-item-wrapper
                    .our-team-content-item
                        .our-team-content-img
                            img(src="assets/images/sidorova.png", alt="")
                        .our-team-content-title
                            span Анна Маслянова
                .our-team-content-item-wrapper
                    .our-team-content-item
                        .our-team-content-img
                            img(src="assets/images/petrova.png", alt="")
                        .our-team-content-title
                            span Елена Ткачук                                                                
                                                   
        .useful-articles
            .useful-articles-title
                span Полезные статьи
            .useful-articles-content
                a(href="article.html").useful-articles-content-item
                    .useful-articles-content-item__hover-block
                    .useful-articles-content-item__img
                        img(src="assets/images/new1.png", alt="")
                    .useful-articles-content-item__date
                        span опубликовано: 12.11.2019
                    .useful-articles-content-item__title
                        span Новость о том, какую страховку лучше приобрести
                    .useful-articles-content-item__text
                        span Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.
                    .useful-articles-content-item__link
                        span Читать далее
                        img(src="assets/images/arrow.svg", alt="")
                a(href="article.html").useful-articles-content-item
                    .useful-articles-content-item__hover-block
                    .useful-articles-content-item__img
                        img(src="assets/images/new2.png", alt="")
                    .useful-articles-content-item__date
                        span опубликовано: 12.11.2019
                    .useful-articles-content-item__title
                        span Новость о том, какую страховку лучше приобрести
                    .useful-articles-content-item__text
                        span Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.
                    .useful-articles-content-item__link
                        span Читать далее
                        img(src="assets/images/arrow.svg", alt="")
                a(href="article.html").useful-articles-content-item
                    .useful-articles-content-item__hover-block
                    .useful-articles-content-item__img
                        img(src="assets/images/new3.png", alt="")
                    .useful-articles-content-item__date
                        span опубликовано: 12.11.2019
                    .useful-articles-content-item__title
                        span Новость о том, какую страховку лучше приобрести
                    .useful-articles-content-item__text
                        span Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.
                    .useful-articles-content-item__link
                        span Читать далее
                        img(src="assets/images/arrow.svg", alt="")

            

            

        