extends ../template

block variables
    - var title = 'КАСКО'    

block content
    .fullscreen-container
        .breadcrumbs
            a.breadcrumbs-item(href="") Главная
            img(src="assets/images/breadcrumbs-arrow.svg", alt="")
            a.breadcrumbs-item(href="") КАСКО
        .fullscreen-container-info
            .fullscreen-container-info-title
                span Страхование КАСКО
            .fullscreen-container-info-text
                span Каско, мини каско, каско профи<br>
                span Как не переплатить за каско и не волноваться за выплаты.
            .fullscreen-container-info-link.btn
                a(href="")
                    span Оформить
            
    .main-container
        .our-advantages
            .our-advantages-title
                span Страхование у нас это
            .our-advantages-content
                .our-advantages-content-item
                    .our-advantages-content-item-img
                        img(src="assets/images/professionalism.svg", alt="")
                    .our-advantages-content-item-title
                        span Профессионализм
                .our-advantages-content-item
                    .our-advantages-content-item-img
                        img(src="assets/images/fast-service.svg", alt="")
                    .our-advantages-content-item-title
                        span Быстрое обслуживание
                .our-advantages-content-item
                    .our-advantages-content-item-img
                        img(src="assets/images/prices.svg", alt="")
                    .our-advantages-content-item-title
                        span Доступные цены
        .insurance-description
            .insurance-description-title
                span Полис КАСКО
            .what-to-insure
                .what-to-insure-main.what-to-insure-label
                    span Виды страхового покрытия
                .what-to-insure-control
                    input(type="checkbox" class="insurance-switcher" name="insurance-description-type" id="insurance-description-type")
                    label(for="insurance-description-type") Дополнительное страхование
            .insurance-description-content.type
                .insurance-description-content-img
                    img(src="assets/images/car.jpg", alt="")
                .insurance-description-content-info
                    .insurance-description-content-info-paragraph
                        .insurance-description-content-info-paragraph-title
                            span Хищение
                        .insurance-description-content-info-paragraph-text
                            span Полис включает защиту от кражи, грабежа, разбоя или угона застрахованной машины преступниками
                    .insurance-description-content-info-paragraph
                        .insurance-description-content-info-paragraph-title
                            span Ущерб
                        .insurance-description-content-info-paragraph-text
                            span Компенсация в случае ДТП, пожара, взрыва, природных явлений,
                            | механических повреждений и противоправных действий третьих лиц.
                            | При повреждении стекол справки не требуются<br><br>
                        .insurance-description-content-info-paragraph-text
                            span Покрытие включает в себя опцию "Fast Track": Страховая компания договорится
                            | со СТОА (станция технического обслуживания автомобилей) о ремонте и передаст
                            | данные клиента для связи. Нет необходимости ожидать приезда эксперта для осмотра автомобиля
                    .insurance-description-content-info-paragraph
                        .insurance-description-content-info-paragraph-title
                            span Полная гибель
                        .insurance-description-content-info-paragraph-text
                            span Выплата страхового возмещения при повреждении автомобиля, когда стоимость ремонта превышает 65% от его стоимости
            .insurance-description-content.type.additional
                .insurance-description-content-img
                    img(src="assets/images/car.jpg", alt="")
                .insurance-description-content-info
                    .insurance-description-content-info-paragraph
                        .insurance-description-content-info-paragraph-title
                            span Кража
                        .insurance-description-content-info-paragraph-text
                            span Полис включает защиту от кражи, грабежа, разбоя или угона застрахованной машины преступниками
                    .insurance-description-content-info-paragraph
                        .insurance-description-content-info-paragraph-title
                            span Разрушение
                        .insurance-description-content-info-paragraph-text
                            span Компенсация в случае ДТП, пожара, взрыва, природных явлений,
                            | механических повреждений и противоправных действий третьих лиц.
                            | При повреждении стекол справки не требуются<br><br>
                        .insurance-description-content-info-paragraph-text
                            span Покрытие включает в себя опцию "Fast Track": Страховая компания договорится
                            | со СТОА (станция технического обслуживания автомобилей) о ремонте и передаст
                            | данные клиента для связи. Нет необходимости ожидать приезда эксперта для осмотра автомобиля
                    .insurance-description-content-info-paragraph
                        .insurance-description-content-info-paragraph-title
                            span Утрата
                        .insurance-description-content-info-paragraph-text
                            span Выплата страхового возмещения при повреждении автомобиля, когда стоимость ремонта превышает 65% от его стоимости
        .insurance-description
            .insurance-description-title
                span Быстрое и простое оформление полиса
            .what-to-insure
                .what-to-insure-main.what-to-insure-label
                    span При оформлении
                .what-to-insure-control
                    input(type="checkbox" class="insurance-switcher" name="insurance-description-event" id="insurance-description-event")
                    label(for="insurance-description-event") При страховом случае
            .insurance-description-content.event
                .insurance-description-content-img
                    img(src="assets/images/passport.jpg", alt="")
                .insurance-description-content-info
                    .insurance-description-content-info-item
                        span Паспорт или другой документ, удостоверяющий личность
                    .insurance-description-content-info-item
                        span СТС или ПТС
                    .insurance-description-content-info-item
                        span Водительские удостоверения участников полиса
            .insurance-description-content.event.additional
                .insurance-description-content-img
                    img(src="assets/images/passport.jpg", alt="")
                .insurance-description-content-info
                    .insurance-description-content-info-item
                        span Водительское удостоверение
                    .insurance-description-content-info-item
                        span СТС или ПТС
                    .insurance-description-content-info-item
                        span Тех. паспорт
        .insurance-form
            .insurance-form-title
                span Рассчитать стоимость КАСКО
            .insurance-form-progress
                .insurance-form-progress-title
                    span Шаг 
                    span.current 1 
                    span из 
                    span.common 3
                .insurance-form-progress-bar
                    .insurance-form-progress-bar-green
            form
                .insurance-form-row.two-input
                    .insurance-form-row-input-group
                        input(type="text" required)
                        span.placeholder ФИО
                    .insurance-form-row-input-group
                        input(type="text" required)
                        span.placeholder Телефон
                .insurance-form-row.two-input
                    .insurance-form-row-input-group
                        input(type="text" required)
                        span.placeholder E-mail
                    .insurance-form-row-input-group
                        input(type="text" required)
                        span.placeholder Мощность ЛС
                .insurance-form-row
                    .insurance-form-row-input-group
                        input(type="text" required)
                        span.placeholder Текущая страховка                  
                .insurance-form-row
                    .insurance-form-row-input-group
                        input(type="text" required)
                        span.placeholder Регион прописки собственника
            form
                .insurance-form-row.two-input
                    .insurance-form-row-input-group
                        input(type="text" required)
                        span.placeholder ФИО
                    .insurance-form-row-input-group
                        input(type="text" required)
                        span.placeholder Телефон
                .insurance-form-row.two-input
                    .insurance-form-row-input-group
                        input(type="text" required)
                        span.placeholder E-mail
                    .insurance-form-row-input-group
                        input(type="text" required)
                        span.placeholder Мощность ЛС
                .insurance-form-row
                    .insurance-form-row-input-group
                        input(type="text" required)
                        span.placeholder Текущая страховка                  
                .insurance-form-row
                    .insurance-form-row-input-group
                        input(type="text" required)
                        span.placeholder Регион прописки собственника
            form
                .insurance-form-row.two-input
                    .insurance-form-row-input-group
                        input(type="text" required)
                        span.placeholder ФИО
                    .insurance-form-row-input-group
                        input(type="text" required)
                        span.placeholder Телефон
                .insurance-form-row.two-input
                    .insurance-form-row-input-group
                        input(type="text" required)
                        span.placeholder E-mail
                    .insurance-form-row-input-group
                        input(type="text" required)
                        span.placeholder Мощность ЛС
                .insurance-form-row
                    .insurance-form-row-input-group
                        input(type="text" required)
                        span.placeholder Текущая страховка                  
                .insurance-form-row
                    .insurance-form-row-input-group
                        input(type="text" required)
                        span.placeholder Регион прописки собственника
            .insurance-form-buttons
                .form-previous-btn
                    a(href="")
                        span Назад
                .btn.form-next-btn
                    a(href="")
                        span Далее
                .btn.send-btn
                    a(href="")
                        span Оформить
                
                
                    


            
                    


                    


        

            

            

        