.not-found_page {   
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1024px;
}
.not-found__content {
    max-width: 665px;
}
.not-found__images {
    width: 100%;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
        max-width: 100%;
        &:first-child {
            margin-bottom: 50px;
        }
    }
}
.not-found__images-tablet {
    width: 100%;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
        max-width: 100%;
        &:first-child {
            margin-bottom: 50px;
        }
    }
}
.not-found__images-mobile {
    width: 100%;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
        max-width: 100%;
        &:first-child {
            margin-bottom: 50px;
        }
    }
}
.not-found__images-tablet {
    display: none;
}
.not-found__images-mobile {
    display: none;
}
.not-found__header {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    margin-bottom: 10px;
}
.not-found__text {
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 20px;
}
.not-found__link {
    width: 145px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #00A86B;
    border-radius: 5px;
    color: #F7FCFF;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    margin: 0 auto;
    text-decoration: none;
}
@media screen and (max-width: 1023px) {
    .not-found__images {
        display: none;
    }
    .not-found__images-tablet {
        display: flex;
    }
}
@media screen and (max-width: 767px) {
    .not-found_page {       
        height: 640px;
    }
    .not-found__images {
        display: none;
    }
    .not-found__images-tablet {
        display: none;
    }
    .not-found__images-mobile {
        display: flex;
    }
    .not-found__header {        
        font-size: 14px;
        line-height: 19px;
    }
    .not-found__text {
        font-size: 10px;
        line-height: 14px;
    }    
}