.main-container.about-page {
    width: 100%;
    box-sizing: border-box;
    .breadcrumbs {
        position: absolute;
    }
    .contact-us-form {
        width: 100%;
        padding-left: 138px; 
        margin-bottom: 100px;       
        .contact-us-form-title {
            font-size: 36px;
            font-weight: bold;
            text-align: center;
            margin-bottom: 40px;
        }
        .contact-us-form-content {
            display: flex;            
            .contact-us-form-content-map {                
            }
            .contact-us-form-content-form {
                border-top: 1px solid #D9D9D9;
                border-bottom: 1px solid #D9D9D9;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-left: 40px;
                padding-right: 118px;                
                width: 570px;
                height: 488px;
                .contact-us-form-content-form-title {
                    font-weight: 600;
                    margin-bottom: 40px;
                }
                .privacy-agreement {
                    color: #111;
                    font-size: 14px;
                    font-weight: 300;
                    margin-bottom: 30px;
                }
                .btn {
                    a {
                        width: 132px;
                        display: inline-block;
                        text-align: center;
                    }
                }
                form {
                    .contact-us-form-content-form-row.two-input {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        .contact-us-form-content-form-input-group {
                            width: 48.4%;
                        }
                    }
                    .contact-us-form-content-form-row {
                        width: 100%;
                        margin-bottom: 20px;
                        .contact-us-form-content-form-input-group.message {
                            textarea {
                                box-sizing: border-box;
                                height: 120px;
                                width: 100%;                                
                                border: 1px solid #C6C6C6;
                                box-sizing: border-box;
                                border-radius: 4px;
                                font-size: 14px;
                                padding-left: 10px;
                                padding-top: 25px;
                                outline: none;  
                                resize: none; 
                            }
                            span {
                                top: 20px;
                            }
                        }
                        .contact-us-form-content-form-input-group {
                            position: relative;
                            input {
                                width: 100%;
                                height: 62px;
                                border: 1px solid #C6C6C6;
                                box-sizing: border-box;
                                border-radius: 4px;
                                font-size: 14px;
                                padding-left: 10px;
                                outline: none;   
                            }
                            input:focus ~ .placeholder,
                            input:valid ~ .placeholder,
                            textarea:focus ~ .placeholder,
                            textarea:valid ~ .placeholder {
                                top: 8px;
                                bottom: 10px;
                                left: 10px;
                                font-size: 10px;
                                opacity: 1;
                            }
                            span {
                                position: absolute;
                                font-size: 14px;
                                pointer-events: none;
                                left: 10px;
                                top: calc(50% - 8px);
                                transition: 0.2s ease all;
                            }
                        }                        
                    }
                }
            }
        }
    }
    .page-title {
        margin-top: 40px;
        margin-bottom: 30px;
        font-size: 36px;
        font-weight: bold;
        text-align: center;
    }
    .page-img {
        margin-bottom: 30px;
        img {
            width: 100%;
        }
    }
    .page-text {
        width: 925px;
        margin: 0 auto;
        line-height: 37px;
        text-align: justify;
        margin-bottom: 40px;
    }
    .page-column-content {
        display: flex;
        padding-top: 40px;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 100px; 
        border-top: 1px solid #D9D9D9;
        .page-column-content-item {
            flex: 0 1 33.3%;
            margin-right: 40px;
            &:last-child {
                margin-right: 0;
            }
            .page-column-content-item-title {
                font-weight: bold;
                line-height: 37px;
                text-align: center;
                margin-bottom: 30px;
            }
            .page-column-content-item-text {
                line-height: 37px;
                text-align: center;
            }
        }
    }
}
@media screen and (max-width: 1439px) {
    .main-container.about-page {
        .contact-us-form {
            padding-left: 0;
            .contact-us-form-content {
                .contact-us-form-content-form {
                    padding-right: 0;
                    width: 100%;
                    form {
                        width: 85%;
                    }                    
                }
            }
        }        
    }
}
@media screen and (max-width: 1264px) {
    .main-container.about-page {
        .contact-us-form {            
            .contact-us-form-content {
                .contact-us-form-content-map {
                    iframe {
                        width: 46vw;
                        height: 40vw;
                    }
                }
                .contact-us-form-content-form { 
                    border-bottom: none;
                    height: 40vw;                  
                    form {
                        width: 95%;
                    }                    
                }
            }
        }        
    }
}
@media screen and (max-width: 1024px) {
    .main-container.about-page {
        .page-title {
            font-size: 24px;
            margin-bottom: 20px;
        }
        .page-img {
            margin-bottom: 20px;
        }
        .page-text {
            font-size: 14px;
            line-height: 29px;
            width: 80%;
        }
        .contact-us-form {
            .contact-us-form-title {
                font-size: 24px;
                margin-bottom: 30px;
            }
            .contact-us-form-content {
                .contact-us-form-content-form {
                    padding-left: 20px;
                    form {
                        .contact-us-form-content-form-row {
                            .contact-us-form-content-form-input-group.message {
                                textarea {
                                    height: 75px;
                                }
                            }
                            .contact-us-form-content-form-input-group {
                                span {
                                    font-size: 12px;
                                }
                                input {
                                    height: 55px;
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                    .contact-us-form-content-form-title {
                        margin-bottom: 20px;
                        font-size: 14px;
                    }
                    .privacy-agreement {
                        margin-bottom: 20px;
                        font-size: 10px;
                    }
                }
            }
        }
        .page-column-content {
            flex-wrap: wrap;
            justify-content: center;
            margin-bottom: 40px;
            .page-column-content-item {
                flex: 0 1 80%;
                margin-right: 0;
                margin-bottom: 30px;
                .page-column-content-item-title {
                    margin-bottom: 20px;
                    font-size: 14px;
                }
                .page-column-content-item-text {
                    font-size: 12px;
                    line-height: 25px;
                }
            }
        }
    }
}