.article-page-header {
    width: 100%;
    height: 525px;
    margin-top: 30px;
    margin-bottom: 40px;
    padding: 20px;
    box-sizing: border-box;
    color: #fff;
    background-image: url(../images/article.jpg);
    background-size: cover;
    .page-title {
        margin-top: 30px;
        font-size: 36px;
        font-weight: bold;
        width: 450px;
    }
    .article-page-header-upline {
        display: flex;            
        .breadcrumbs {
            img.black {
                display: none;
            }
            margin-right: 65px;
            a {
                color: #fff;
            }
        }
        .article-block-item-date, .article-block-item-time {
            display: flex;
            align-items: center;
            font-size: 14px;
            img {
                margin-right: 10px;
            }
        }
        .article-block-item-date {
            margin-right: 35px;
        }
    }
}
.main-container.article-page {
    width: 1165px;
    margin: 0 auto;
    .article-page-content {
        .article-page-content-row.additional {
            .article-page-content-row-left {
                background-color: #FCFFE9;
                .article-page-content-row-text {
                    font-style: italic;
                }
            }
        }
        .article-page-content-row.infographics {
            .article-page-content-row-left {
                .article-page-content-row-table {
                    width: 70%;
                    margin: 0 auto;
                    table {
                        width: 495px;
                        border-collapse: collapse;
                        th {
                            border-bottom: 1px solid #111;
                        }
                        td, th {
                            text-align: center;
                            border-right: 1px solid #111;
                            padding: 10px 0;
                            &:last-child {
                                border-right: none;
                            }
                        } 
                    }
                    .article-page-content-row-table-header {
                        font-size: 24px;
                        line-height: 49px;
                        text-align: center;
                        margin-bottom: 30px;
                    }
                }
            }
        }
        .article-page-content-row.next {
            .article-page-content-row-left {
                padding-bottom: 0;
                .article-page-content-row-header {
                    margin-bottom: 20px;
                }
            }
        }
        .article-page-content-row {
            display: flex;   
            margin-bottom: 20px;
            &:first-child {
                .article-page-content-row-left {
                    padding-top: 0;
                }
            }         
            .article-page-content-row-left {
                flex: 0 1 61%;
                padding: 20px;
                .article-page-content-row-header {
                    font-size: 24px;
                    line-height: 49px;
                    font-weight: bold;
                    margin-bottom: 30px;
                }
                .article-page-content-row-text {
                    font-weight: 300;
                    line-height: 37px;
                }
                .article-page-content-row-social-btn {
                    display: flex;
                    margin-bottom: 60px;
                    .article-page-content-row-social-btn-item {
                        margin-right: 20px;
                        &:last-child {
                            margin-right: 0;
                            a {
                                background-color: #4267B2;
                            }
                        }
                        a {
                            width: 140px;
                            height: 41px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            text-decoration: none;
                            color: #fff;
                            background-color: #5181B8;
                            font-size: 14px;
                            line-height: 33px;                            
                            span.bold {
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
            .article-page-content-row-right {
                flex: 0 1 39%;
                display: flex;
                justify-content: center;
                .article-page-content-row-link {
                    width: 220px;
                    font-size: 14px;                    
                    align-self: center;
                    a {
                        color: #003B5F;
                    }
                }
                .article-page-content-row-author {
                    display: flex;
                    .article-page-content-row-author-img {
                        margin-right: 20px;
                    }
                    .article-page-content-row-author-info {
                        .article-page-content-row-author-info-name {
                            font-weight: bold;
                            margin-bottom: 20px;
                        }
                        .article-page-content-row-author-info-appointment {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }    
}
@media screen and (max-width: 1264px) {
    .main-container.article-page {
        width: 100%;
    }
}
@media screen and (max-width: 1024px) {
    .main-container.article-page {
        box-sizing: border-box;
        .article-page-content {
            .article-page-content-row.infographics {
                .article-page-content-row-left {
                    .article-page-content-row-social-btn {
                        margin-bottom: 50px;
                    }
                    .article-page-content-row-table {
                        width: 100%;
                        .article-page-content-row-table-header {
                            font-size: 18px;
                            margin-bottom: 20px;
                        }
                        table {
                            width: 100%;
                        }
                    }
                }
            }
            .article-page-content-row.additional {
                .article-page-content-row-left {
                    padding: 20px;
                }
            }
            .article-page-content-row {
                .article-page-content-row-right {
                    .article-page-content-row-link {
                        a {
                            font-size: 12px;
                            line-height: 16px;
                        }
                    }
                    .article-page-content-row-author {
                        .article-page-content-row-author-img {
                            img {
                                width: 50px;
                                height: 50px;
                            }
                        }
                        .article-page-content-row-author-info {
                            .article-page-content-row-author-info-name {
                                margin-bottom: 10px;
                                font-size: 14px;
                            }                            
                        }
                    }
                }
                .article-page-content-row-left {
                    padding: 0;
                    .article-page-content-row-header {
                        font-size: 18px;
                        margin-bottom: 20px;
                    }
                    .article-page-content-row-text {
                        font-size: 14px;
                        line-height: 29px;
                    }
                }
            }
        }
    }
    .article-page-header {
        height: 42vw;
        margin-top: 0;
        margin-bottom: 30px;
        .article-page-header-upline {
            .breadcrumbs {
                margin-right: 35px;
            }
            .article-block-item-date, .article-block-item-time {
                font-size: 12px;
                img {
                    width: 15px;
                    height: 15px;
                    margin-right: 5px;
                }
            }            
        }
    }
}
@media screen and (max-width: 767px) {
    .main-container.article-page {
        .article-page-content {
            .article-page-content-row.additional {
                .article-page-content-row-left {
                    padding: 20px 10px;
                }
            }
            .article-page-content-row.infographics {
                .article-page-content-row-left {
                    .article-page-content-row-table {
                        .article-page-content-row-table-header {
                            font-size: 12px;
                            line-height: 25px;
                        }
                        table {
                            td, th {
                                font-size: 10px;
                            }
                        }
                    }
                }
            }
            .article-page-content-row.next {
                .article-page-content-row-left {
                    .article-page-content-row-header {
                        margin-bottom: 0;
                    }
                }
                .article-page-content-row-right {
                    display: none;
                }
            }
            .article-page-content-row {
                flex-direction: column;
                .article-page-content-row-left {
                    .article-page-content-row-social-btn {
                        margin-bottom: 0;
                    }
                    .article-page-content-row-header {
                        font-size: 14px;
                        line-height: 25px;
                    }
                    .article-page-content-row-text {
                        font-size: 12px;
                        line-height: 20px;
                    }
                }
                .article-page-content-row-right {
                    margin-top: 30px;
                    .article-page-content-row-link {
                        font-size: 10px;
                        line-height: 14px;
                        width: 100%;
                    }
                }
                &:first-child {
                    .article-page-content-row-right {
                        order: 1;
                        margin-right: auto;
                        margin-top: 20px;
                        .article-page-content-row-author {
                            margin-bottom: 30px;
                            .article-page-content-row-author-img {
                                margin-right: 10px;
                                img {
                                    width: 35px;
                                    height: 35px;
                                }
                            }
                            .article-page-content-row-author-info {
                                .article-page-content-row-author-info-name {
                                    font-size: 12px;
                                }
                                .article-page-content-row-author-info-appointment {
                                    font-size: 8px;
                                }
                            }
                        }
                    }
                    .article-page-content-row-left {
                        order: 2;
                    }
                }
                .article-page-content-row-left, .article-page-content-row-right {
                    flex: 0 1 100%;
                }
            }
        }
    }
    .article-page-header {
        padding: 10px;
        margin-top: 40px;
        display: flex;
        margin-bottom: 0;
        flex-direction: column;
        .page-title {
            font-size: 14px;
            line-height: 19px;
            margin-top: auto;
            margin-bottom: 10px;
            width: 100%;
        }
        .article-page-header-upline {
            .article-block-item-date, .article-block-item-time {
                font-size: 10px;
                margin-right: 20px;
                img {                    
                    width: 13px;
                    height: 13px;
                }
            }
            .breadcrumbs {
                img {
                    display: none;
                    width: 4px;
                    height: 7px;
                }
                img.black {
                    display: inline;
                }
                position: absolute;
                top: 80px;
                a {
                    color: #111;
                }
            }     
        }
    }
}