.fullscreen-container {
    width: 100%;
    height: 30vw;
    background-image: url("../images/fullscreen-background.jpg");
    background-size: cover;
    padding-top: 50px;
    padding-left: 20px;
    margin-bottom: 100px;
    box-sizing: border-box;
    .fullscreen-container-info {
        margin-left: 9.7%;
        margin-top: 4.1%;
        .fullscreen-container-info-title {
            font-size: 36px;
            font-weight: 800;
        }
        .fullscreen-container-info-text {
            margin-top: 40px;
            margin-bottom: 40px;
        }
    }
}
.insurance-form {
    width: 650px;
    margin: 0 auto;
    .btn {
        display: flex;
        justify-content: center;
        margin-bottom: 100px;    
        a {
            width: 152px;
            text-align: center;
        }
    }
    form {
        .insurance-form-row {
            width: 100%;
            margin-bottom: 30px;
            .insurance-form-row-input-group {
                position: relative;
                input {
                    width: 100%;
                    height: 62px;
                    border: 1px solid #C6C6C6;
                    box-sizing: border-box;
                    border-radius: 4px;
                    font-size: 14px;
                    padding-left: 20px;
                    outline: none;             
                }
                input:focus ~ .placeholder,
                input:valid ~ .placeholder {
                    top: 8px;
                    bottom: 10px;
                    left: 10px;
                    font-size: 10px;
                    opacity: 1;
                }
                span {
                    position: absolute;
                    font-size: 14px;
                    pointer-events: none;
                    left: 20px;
                    top: calc(50% - 8px);
                    transition: 0.2s ease all;
                }
            }
            
        }
        .insurance-form-row.two-input {
            width: 100%;
            display: flex;
            justify-content: space-between;
            .insurance-form-row-input-group {
                width: 48.4%;
            }
        }
    }
    .insurance-form-title {
        font-size: 24px;
        font-weight: 800;
        text-align: center;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    
    .insurance-form-progress {
        .insurance-form-progress-title {
            margin-bottom: 20px;
            text-align: center;
        }
        .insurance-form-progress-bar {
            width: 312px;
            height: 17px;
            margin: 0 auto;
            margin-bottom: 30px;
            border: 1px solid #AEAEAE;
            box-sizing: border-box;
            border-radius: 50px; 
            position: relative;           
            .insurance-form-progress-bar-green {
                background-color: #00A86B;
                position: absolute;
                top: -1px;
                left: 0;
                width: 104px;
                height: 17px;
                border-radius: 50px 0px 0px 50px;
            }
             
        }
    }
}
.insurance-description {
    width: 990px;
    margin: 0 auto;
    margin-bottom: 100px;
    &:nth-child(2) {
        .what-to-insure {
            width: 720px;
        }
    }
    &:nth-child(3) {
        margin-bottom: 0;
        .what-to-insure {
            width: 530px;
        }
    }
    .insurance-description-title {
        font-size: 24px;
        font-weight: 800;
        text-align: center;
    }
    .what-to-insure {
        margin-top: 50px;
        margin-bottom: 60px;        
    }
    .insurance-description-content.type.additional {
        display: none;
    }
    .insurance-description-content.event.additional {
        display: none;
    }
    .insurance-description-content {
        display: flex;
        align-items: center;
        .insurance-description-content-img {
            margin-right: 20px;
        }
        .insurance-description-content-info {
            .insurance-description-content-info-item {
                margin-bottom: 50px;
            }
            .insurance-description-content-info-paragraph {
                margin-bottom: 40px;
                &:last-child {
                    margin-bottom: 0;
                }
                .insurance-description-content-info-paragraph-title {
                    font-weight: bold;
                    margin-bottom: 20px;
                }
                .insurance-description-content-info-paragraph-text {
                    font-size: 14px;
                }
            }
        }
    }
}
.our-advantages {
    width: 860px;
    margin: 0 auto;
    margin-bottom: 100px;
    .our-advantages-title {
        text-align: center;
        font-size: 24px;
        font-weight: 800;
        margin-bottom: 60px;
    }
    .our-advantages-content {
        display: flex;
        justify-content: space-between;
        width: 100%;
        .our-advantages-content-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            .our-advantages-content-item-img {
                margin-bottom: 30px;
                text-align: center;
            }
        }
    }
}
@media screen and (max-width: 1264px) {
    .fullscreen-container {
        padding-top: 20px;
        padding-bottom: 50px;
        height: 35vw;
        .fullscreen-container-info {
            margin-left: 0;
            .fullscreen-container-info-text {
                margin-top: 30px;
            }
            .fullscreen-container-info-link {
                margin-top: auto;
            }
        }
    }
}
@media screen and (max-width: 1024px) {
    .fullscreen-container {
        margin-bottom: 50px;
        .fullscreen-container-info {
            .fullscreen-container-info-text {
                font-size: 14px;
            }
        }
    }
    .insurance-form {
        .btn {
            margin-bottom: 50px;
        }
        .insurance-form-title {
            margin-top: 50px;
            margin-bottom: 30px;
        }
        .insurance-form-progress {
            .insurance-form-progress-title {
                font-size: 14px;
            }
        }
    }
    .insurance-description {
        width: 100%;
        margin-bottom: 50px;
        .insurance-description-content {
            .insurance-description-content-img {
                img {
                    width: 46vw;
                }
            }
            .insurance-description-content-info {
                .insurance-description-content-info-paragraph {
                    margin-bottom: 30px;
                    .insurance-description-content-info-paragraph-title {
                        font-size: 14px;
                    }
                    .insurance-description-content-info-paragraph-text {
                        font-size: 12px;
                        line-height: 16px;
                    }                    
                }
                .insurance-description-content-info-item {
                    margin-bottom: 30px;
                    font-size: 14px;
                }
            }
        }
        &:nth-child(2) {
            .what-to-insure {
                width: 573px;
            }
        }
        &:nth-child(3) {
            .what-to-insure {
                width: 432px;
            }
        }
        .what-to-insure {
            margin-top: 40px;
            margin-bottom: 40px;
        }
    }
    .our-advantages {
        margin-bottom: 50px;
        width: 90%;
        .our-advantages-title {
            margin-bottom: 40px;
        }
        .our-advantages-content {
            .our-advantages-content-item {
                .our-advantages-content-item-img {
                    transform: scale(0.8);
                }
            }
        }
    }
}
@media screen and (max-width: 850px) {
    .fullscreen-container {
        height: 40vw;
    }
}