.header {
    height: 105px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;   
    a {
        text-decoration: none;
        color: #111;
    }
    .hamburger {
        display: none;
    }   
    .header-mobile-menu.active {
        display: block;
    }
    .header-mobile-menu.fadeOutUp {
        top: -150px;
    }
    .header-buttons-mobile {
        display: none;
        cursor: pointer;
    }
    .header-mobile-menu {
        display: none;
        width: 100%;
        height: 100vh;
        background-color: #fff;        
        position: absolute;
        top: 105px;
        left: 0;
        z-index: 49;        
        border-top: 1px solid #CBCBCB;
        .header-links {                       
            display: flex;
            flex-direction: column;
            align-items: center;
            a {
                margin-top: 35px;
                font-weight: 500;
                line-height: 42px;
            }
        }         
        .header-buttons {
            margin-top: 60px;
            margin-left: 20px;
            display: flex;
            flex-direction: column;
            a {
                margin-bottom: 40px;
                align-self: flex-start;
                margin-left: 0;
                display: block;
            }
            
        }  
    }
    .header-title {       
        .header-title__heading {
            font-weight: 800;        
        }  
        .header-title__subheading {
            font-size: 14px;
        }   
    }
    .header-menu a {        
        margin-right: 38px;
        font-size: 14px;
        font-weight: 600;
    }    
    .header-menu a:hover {        
        color: rgba(0, 168, 107, 0.7);
    }
    .header-menu {
        a:active {
            color: #00A86B; 
        }
    }  
    .header-buttons {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        .header-buttons__phone {
          font-family: Roboto;
          font-weight: bold;
          font-size: 14px;  
          margin-right: 35px;
          align-self: center;
          cursor: pointer;
        }        
        .header-buttons__order {
            margin-left: 30px;
        }
    }
}

body {
    padding: 0 0 0 0;
}
.header, .main-container {
    padding: 0 20px;
}
.main-container {
    max-width: 1400px;
    margin: 0 auto;
}
.header-buttons__social {
    margin-left: 20px; 
    &:hover img {
        border-radius: 50%;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    }                  
}
@media screen and (max-width: 1264px) {
    .header {
        justify-content: unset;
        .header-menu {
            display: none;
        }
        .hamburger {
            display: inline-block;
            padding: 0;
            align-self: center;
            margin-right: 20px;
        }
        .header-buttons {
            margin-left: auto;
            .header-buttons__phone {
                margin-right: 0;
            }
            .header-buttons__order {
                margin-left: 20px;
            }
            .header-buttons__social {
                display: none;
            }
        }
    }
}
@media screen and (max-width: 767px) {
    .header {
        padding: 0 10px;
        height: 70px;
        .header-mobile-menu {
            top: 70px;
            .header-links {
                .header-menu__link {
                    font-size: 14px;
                    line-height: 33px;
                }
            }
        }
        .hamburger.is-active {
            .hamburger-box {
                .hamburger-inner {
                    &:before {
                        top: 0;
                    }
                }
            }
        }
        .hamburger {
            .hamburger-box {
                width: 23px;
                height: 20px;
                .hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
                    width: 23px;
                    height: 2px;
                }
                .hamburger-inner:before {
                    top: -7px;
                }
                .hamburger-inner:after {
                    top: -15px;
                }
            }
        }
        .header-title {
            .header-title__heading {
                font-size: 14px;
            }
            .header-title__subheading {
                font-size: 10px;
            }
        }
        .header-buttons {
            display: none;
        }
        .header-buttons-mobile {
            display: block;
            margin-left: auto;
        }
    }
}
